.image {
  padding-top: 124px;
  padding-bottom: 0px;
  float: right;
}

.section {
  margin-top: 208px;
}

.section-2 {
  margin-top: 104px;
}

.body {
  padding-left: 0px;
  background-image: url('../images/Background.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: repeat-y;
}

.image-2 {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 55px;
}

.image-3 {
  margin-top: 13px;
  margin-left: 62px;
  padding-top: 8px;
  padding-bottom: 0px;
}

.image-4 {
  margin-top: 14px;
}

.image-5 {
  margin-top: 20px;
}

.image-6 {
  margin-top: 41px;
}

.image-7 {
  margin-top: 35px;
  padding-left: 1px;
}

.image-8 {
  margin-top: 5px;
}

.image-9 {
  margin-top: 11px;
}

.image-10 {
  margin-top: 1px;
}

.image-11 {
  margin-top: 52px;
}

.image-12 {
  margin-top: 43px;
}

.image-13 {
  margin-top: 60px;
}

.image-14 {
  width: auto;
  margin-right: 0px;
  padding-right: 0px;
}

.image-15 {
  float: right;
}

.image-16 {
  width: auto;
  margin-top: 329px;
  float: right;
}

.column {
  margin-top: 32px;
}